<footer class="footer">
    <small>
        <a href="http://formester.com"> Formester </a>
        By <a href="http://acornglobus.com"> Acorn Globus </a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '/static_pages/about' %></li>
            <li><%= link_to "Contact", '/static_pages/contact' %></li>
            <li><a href="https://formester.com">Website</li>
        </ul>
    </nav>
</footer>